/* Main Styling */
html,
body {
    margin: 0 ;
}

@media (min-width:300px) and (max-width:575px) {
    .hero__container {
        background: url("../img/pattern1.jpg") repeat;
        height: 500px;
        -webkit-animation: bg-pan-bl 32s linear infinite both;
        animation: bg-pan-bl 32s linear infinite both;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .hero__container {
        background: url("../img/pattern1.jpg") repeat;
        height: 450px;
        -webkit-animation: bg-pan-bl 32s linear infinite both;
        animation: bg-pan-bl 32s linear infinite both;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width:768px) {
    .hero__container {
        background: url("../img/pattern1.jpg") repeat;
        height: 480px;
        -webkit-animation: bg-pan-bl 32s linear infinite both;
        animation: bg-pan-bl 32s linear infinite both;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.hero__container .logo__img {
    width: 70px;
}

@media (min-width:768px) {
    .hero__container .header__main-text {
        color: #fff;
        font-family: "Titillium Web", sans-serif;
        line-height: 1.5em;
        text-transform: uppercase;
        letter-spacing: .5em;
        padding: 10px 0;
        font-size: 1.9em;
        text-align: center;
    }
}

@media (min-width:300px) and (max-width:575px) {
    .hero__container .header__main-text {
        color: #fff;
        font-family: "Titillium Web", sans-serif;
        line-height: 1.5em;
        text-transform: uppercase;
        letter-spacing: .2em;
        padding: 10px 0;
        font-size: 1.6em;
        text-align: center;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .hero__container .header__main-text {
        color: #fff;
        font-family: "Titillium Web", sans-serif;
        line-height: 1.5em;
        text-transform: uppercase;
        letter-spacing: .5em;
        padding: 10px 0;
        font-size: 1.5em;
        text-align: center;
    }
}

@media (min-width:300px) and (max-width:575px) {
    .hero__container .header__sub-text {
        color: rgb(174, 175, 175);
        font-family: "Titillium Web", sans-serif;
        font-size: 1.2em;
        margin: 10px 0 20px 0;
        text-align: center;
        font-weight: 500;
        line-height: 1.2em;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .hero__container .header__sub-text {
        color: rgb(174, 175, 175);
        font-family: "Titillium Web", sans-serif;
        font-size: 1.1em;
        margin: 10px 0 20px 0;
        text-align: center;
        font-weight: 600;
        line-height: 1.2em;
    }
}

@media (min-width:768px) {
    .hero__container .header__sub-text {
        color: rgb(174, 175, 175);
        font-family: "Titillium Web", sans-serif;
        font-size: 1.5em;
        margin: 10px 0 20px 0;
        text-align: center;
        font-weight: 600;
        line-height: 1.2em;
    }
}

.btn-success.cta__hero-button {
    font-family: "Titillium Web", sans-serif;
}

.hero__container .disclaimer__text {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fff;
}

.hero__container .cta__watch-video-text {
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
}

.sub__hero-container {
    background-color: #ededed;
    padding-bottom: 5%;
}

.technology__row-info {
    padding: 3% 0;
}

.technology__row-info .technology__img {
    margin-bottom: 10px;
}

@media (min-width:300px) and (max-width:575px) {
    .sub__hero-container .sub__hero-img {
        width: 280px;
        height: 300px;
        margin-top: -55%;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .sub__hero-container .sub__hero-img {
        width: 300px;
        height: 300px;
        margin-top: -25%;
    }
}

@media (min-width:768px) {
    .sub__hero-container .sub__hero-img {
        width: 400px;
        height: 300px;
        margin-top: -20%;
    }
}

.technology__row-info .technology__text {
    font-family: Titillium Web;
    color: #ffffff;
    font-weight: 800;
    font-size: 1.2em;
}

.technology__row-info .fa-html5.fa-inverse {
    color: #e84d31;
}

.technology__row-info .fa-inverse.fa-css3-alt {
    color: #2d5e99;
}

.technology__row-info .fa-inverse.fa-js {
    color: #edd64a;
}

.footer__made-with-text {
    font-family: "Titillium Web" , sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    align-self: center;
}

.btn-danger:after {
    margin-top: -17px;
}

h2.ltc-with-text {
    color: rgb(179, 179, 179);
    font-family: "Titillium Web",
  sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
}